body {
    /* Choosing yellow McDonalds */
    background-color: #ffbc11;
  }
  
  .jumbotron h1{
      /* Choosing red McDonalds */
      color: #c7161c;
  
  }
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 5%;
    width: 15%;
  }
  
  .submitFont{
      color: #c7161c;
  }